.title_register, .title_login {
	font-size: 125%;
}

.submit{
	margin-left: 3%;
}

.forgot{
	margin: 2% 0 4% 9%;
}

.registe{
	margin: 2% 0 4% 7%;
}

.login_form, .register_form, .forgotpass_form{
	margin-top: 6%;
}

.avatar{
	display: inline-block;
	width: 5%;
	height: 1.2em;
	margin-left: 2%;
	border-radius: 5px;
	margin-bottom: 2%;
}

.groupofjob{
	display: inline-block;
	padding-left: 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
    color: #18380b;
}

.block_group{
	background-color: #c7ecb8;
	margin: 2%;
	padding: 1%;
	border-radius: 10px;
	width: 80%;
}

.edit-button{
	float: right;
	margin-top: 1%;
}

.delete-button{
	float: right;
	margin-left: 3%;
	margin-top: 1%;
}

.list-button{
	float: right;
	margin-right: 3%;
	margin-top: 1%;
}

.worklist{
	display: inline-block;
	padding-left: 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    color: #18380b;
}

.edit{
	float: right;
	margin-top: 1%;
	color: #149280;
}

.delete{
	float: right;
	margin-left: 3%;
	margin-top: 1%;
	color: #f12525;
}

.info{
	float: right;
	margin-right: 3%;
	margin-top: 1%;
	color: #2cb5d4;
}

.model-tittle{
	color: #076150;
}

.remind{
	color: #076150;
}